body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2CC8F;
}
header {
    background-color:#E07A5F ;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #F4F1DE;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form {
    margin-bottom: 20px;
}
#medList {
    list-style: none;
    padding: 0;
}
.medication-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
.notification {
    background-color: #81B29A;
    color: white;
    padding: 15px;
    border-radius: 5px;
    display: none;
}
.completed {
    background-color: #d0f0c0; /* Green background for completed items */
}