<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedBay</title>
    <link rel="stylesheet" href="/public/Home.css">
</head>

<body>
    <div class="container">
        <aside class="sidebar">
            <div class="sidebar-logo">
                <img src="/public/assets/logo.jpg" alt="Logo">
            </div>
            <nav>
                <ul class="nav-links">
                    <li><a href="#">Home</a></li>
                </ul>
            </nav>
        </aside>

        <main class="content">
            <section class="Home">
                <header>
                    <h1>Never Miss a Dose Again</h1>
                    <p>Stay on top of your health with our personalized reminder system.</p>
                    <a href="./Dashboard.html" class="cta-button" id="getStartedButton">Get Started</a>
                    <p style="font-size: small;" class="login-link">Already have an account? <a href="./login.html">Login</a></p>
                </header>
    
                <div class="intro-video">
                    <h2>Check Out Our video!</h2>
                    <h1> <video src="/public/assets/3D Explainer Video Toolkit_free.mp4" autoplay loop></video></h2>
                </div>
    
                <section class="features">
                    <div class="feature-item">
                        <img src="/public/assets/medication_icon.png" alt="Medication Icon">
                        <h2>Medication Management</h2>
                        <p>Never miss a dose with our intuitive medication management system.</p>
                    </div>
                    <div class="feature-item">
                        <img src="/public/assets/Reminder_Icon.png" alt="Reminder Icon">
                        <h2>Custom Reminders</h2>
                        <p>Receive personalized reminders via email or notifications at your preferred time.</p>
                    </div>
                    <div class="feature-item">
                        <img src="/public/assets/chart.png" alt="Calendar Icon">
                        <h2>Track Your Progress</h2>
                        <p>Visualize your medication adherence and progress with our insightful data</p>
                    </div>
                </section>
            </section>
            <section class="Creators">
                <h2>Meet the Creators</h2>
                <section class="creators">
                    <div class="creator">
                        <img src="/public/assets/medication_icon.png" alt="Medication Icon">
                        <h3>Abiola Oluwatimilehin</h2>
                        <h4>Group Representative</h3>
                        <p>Homepage, database handler</p>
                    </div>
                    <div class="creator">
                        <img src="/public/assets/medication_icon.png" alt="Medication Icon">
                        <h3>Orowole Timothy</h2>
                        <h4>Back-End Developer</h3>
                        <p>Database admin and manager</p>
                    </div>
                    <div class="creator">
                        <img src="/public/assets/medication_icon.png" alt="Medication Icon">
                        <h3>Abuah Emeka</h2>
                        <h4>Front-End Designer</h3>
                        <p>Medication functionality</p>
                    </div>
                    <div class="creator">
                        <img src="/public/assets/medication_icon.png" alt="Medication Icon">
                        <h3>Daraayo</h2>
                        <h4>Front-End Designer</h3>
                        <p>Login & Sign Up Page Management</p>
                    </div>
                </section>
            </section>
        </main>
    </div>

    <footer>
        <div class="container">
            <p>&copy; CSC310 Project Medication Reminder. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>