<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Medication Reminder - Login</title>
		<link
			rel="stylesheet"
			type="text/css"
			href="/login.css"
		/>
	</head>

	<body>
		<div class="container">
			<div class="logo-container">
				<div class="login-details">
					<img
						src="/assets/logo.jpg"
						alt="Logo"
						class="logo"
					/>

					<h1
						class="animated-header"
						style="font-family: cursive"
					>
						Med Bay
					</h1>

					<form
						id="loginForm"
						action="/login"
						method="POST"
					>
						<label for="email">Email:</label>
						<input
							type="text"
							id="email"
							name="email"
							required
						/>

						<label for="password">Password:</label>
						<div class="input-container">
							<input
								type="password"
								id="password"
								name="password"
								required
							/><span
								class="show-hide"
								id="showHideText"
								>Show</span
							>
						</div>

						<button
							type="submit"
							id="loginButton"
							href="Dashboard.html"
						>
							Login
						</button>

						<p id="signupText">
							Don't have an account?
							<a
								href="/signup"
								id="signupLink"
								>Sign up</a
							>.
						</p>
					</form>
				</div>
			</div>
		</div>
		<script src="/scripts/login-signup.js"></script>
	</body>
</html>
