<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html>

  <title>Medication Reminder - Login</title>
  <link rel="stylesheet" type="text/css" href="/public/login.css">
</head>
<body>
  <div class="container">
    <div class="logo-container">
      
        <div class="background-picture"></div>
        <div class="login-details">
        <img src="/public/assets/logo.jpg" alt="Logo" class="logo">
      
    <h1 class="animated-header" style="font-family: cursive;"> Med Bay </h1>
  
    <form id="loginForm">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" minlength="8" required>
      
      <button type="submit" id="loginButton">Login</button>

      <p id="signupText">Don't have an account? <a href="#" id="signupLink">Sign up</a>.</p>
    </form>
      </div>
  </div>

</body>
</html>
</body>
</html>
</body>
</html>