body {
    font-family: "Cambria", sans-serif;
    display: inline;
}


.TopBar{
    background-color: #9f95d0;
}

.body{
    display: flex;
}

.Sidebar{
    background-color: #9f95d0;
    max-width: 30%;
}

.Sidebar ul{
    list-style-type: none;
    display: inline;
}

.Sidebar ul li a {
    background-color: #7fd43a;
    padding: 10px;
    color: black;
    border-radius: 10px;
    text-decoration: none;
}

.container{
    max-width: 70%;
}
/* header {
    background-color:#E07A5F ;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #F4F1DE;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form {
    margin-bottom: 20px;
}
#medList {
    list-style: none;
    padding: 0;
}
.medication-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
.notification {
    background-color: #81B29A;
    color: white;
    padding: 15px;
    border-radius: 5px;
    display: none;
}
.completed {
    background-color: #d0f0c0; /* Green background for completed items 
} 
*/